body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0 0 10px;
    font-size: 28px;
}

select {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background: wheat;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.cities {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.cities:last-child {
    border: none;
}

.time {
    font-size: 48px;
    font-weight: bold;
    text-align: right;
}

.time small {
    font-size: 24px;
    vertical-align: middle;
}

.date {
    opacity: 0.7;
}

footer {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}